.list{
    list-style: none;
   a{
   text-decoration: none;
}
}


/*     col-3 color table    */
.colors {
    display: flex table-row;
    border: 1px solid black;
     width: 15px;
     height: 15px;
     border-radius: 2px;


  }