.cards {
  width: 300px !important;
  height: 420px !important;
}

.card {
  border-radius: 0 !important;
  border: none !important;
}

.smallCard {
  width: 300px !important;
  height: 150px !important;
}

.col-12 {
  img {
    width: 300px;
    height: 230px;
  }
}

.dress {
  width: 250px;
  height: 380px;
}
